
/ Content Wrapper. Contains page content
.content-wrapper
  / Content Header (Page header)
  .content-header
    .container-fluid
      %h4{"data-controller" => "example"} EXAMPLE

      %h5
      %div{"data-controller" => "view",
           "data-view-mode" => "replace",
           "data-view-url" => "all-keys"}
        %a{href: "#", "data-action" => "click->view#visit"}
          Toutes les clés
        %p{"data-target" => "view.output"}

      %h5
      %div{"data-controller" => "view",
           "data-view-mode" => "replace",
           "data-view-url" => "history"}
        %a{href: "#", "data-action" => "click->view#visit"}
          custom link 
        %p{"data-target" => "view.output"}

      %h5 Play
      %div{"data-controller" => "player",
           "data-view-url" => "cars"}
        %a{href: "#", "data-action" => "click->player#play"}
          Start cars
        %p{"data-target" => "player.output"}
        %p{"data-target" => "player.ratio"}

      .row.mb-2
        .col-sm-6
          %h1.m-0.text-dark Starter Page
        / /.col
        .col-sm-6
          %ol.breadcrumb.float-sm-right
            %li.breadcrumb-item
              %a{:href => "#"} Home
            %li.breadcrumb-item.active Starter Page

  .content
    .container-fluid
      .row
        .col-lg-6

          .card.card-primary
            .card-header
              %h3.card-title Connection à Redis
            / /.card-header
            / form start
            %form{:role => "form", "data-controller" => "form", "data-form-url" => "/connect"}
              .card-body
                Connection: 
                %span{"data-target" => "form.result"} - 
              .card-body
                .form-group
                  %label{:for => "exampleInputEmail1"} Hôte
                  %input#hostInput.form-control{:name => "host", :placeholder => "locahost", :type => "text", :value => "vps601605.ovh.net"}/
                .form-group
                  %label{:for => "exampleInputPassword1"} Port
                  %input#portInput.form-control{:name => "port", :placeholder => "Port", :type => "text", :value => "4451"}/
                .form-group
                  %label{:for => "exampleInputPassword1"} Auth (optionnel)
                  %input#authInput.form-control{:name => "auth", :placeholder => "", :type => "text", :value => "AUIAUT2162-%SUITyyqsrt62YX:KSQ"}/
                -# .form-group
                  %label{:for => "exampleInputFile"} File input
                  .input-group
                    .custom-file
                      %input#exampleInputFile.custom-file-input{:type => "file"}/
                      %label.custom-file-label{:for => "exampleInputFile"} Choose file
                    .input-group-append
                      %span.input-group-text{:id => ""} Upload
                -# .form-check
                  %input#exampleCheck1.form-check-input{:type => "checkbox"}/
                  %label.form-check-label{:for => "exampleCheck1"} Check me out
              / /.card-body
              .card-footer
                %button.btn.btn-primary{"data-action" => "click->form#submit"} Submit


          .card
            .card-body
              %h5.card-title Connection à Redis
              %p.card-text
                Some quick example text to build on the card title and make up the bulk of the card's
                content.
              %a.card-link{:href => "#"} Card link
              %a.card-link{:href => "#"} Another link
          .card.card-primary.card-outline
            .card-body
              %h5.card-title Card title
              %p.card-text
                Some quick example text to build on the card title and make up the bulk of the card's
                content.
              %a.card-link{:href => "#"} Card link
              %a.card-link{:href => "#"} Another link
          / /.card
        / /.col-md-6
        .col-lg-6
          .card
            .card-header
              %h5.m-0 Featured
            .card-body
              %h6.card-title Special title treatment
              %p.card-text With supporting text below as a natural lead-in to additional content.
              %a.btn.btn-primary{:href => "#"} Go somewhere
          .card.card-primary.card-outline
            .card-header
              %h5.m-0 Featured
            .card-body
              %h6.card-title Special title treatment
              %p.card-text With supporting text below as a natural lead-in to additional content.
              %a.btn.btn-primary{:href => "#"} Go somewhere
