
/ Content Wrapper. Contains page content
.content-wrapper
  / Content Header (Page header)
  .content-header
    .container-fluid
      %h4{"data-controller" => "example"} EXAMPLE
      %div{"data-controller" => "view",
           "data-view-mode" => "replace",
           "data-view-url" => "all-keys"}
        %a{href: "#", "data-action" => "click->view#visit"}
          Toutes les clés
        %p{"data-target" => "view.output"}



  .content
    .container-fluid
      .row
        .col-lg-6

          .card.card-primary
            .card-header
              %h3.card-title Connection à Redis
            / /.card-header
            / form start
            %form{:role => "form", "data-controller" => "form", "data-form-url" => "/connect"}
              .card-body
                Connection: 
                %span{"data-target" => "form.result"} - 
              .card-body
                .form-group
                  %label{:for => "exampleInputEmail1"} Hôte
                  %input#hostInput.form-control{:name => "host", :placeholder => "locahost", :type => "text", :value => "vps601605.ovh.net"}/
                .form-group
                  %label{:for => "exampleInputPassword1"} Port
                  %input#portInput.form-control{:name => "port", :placeholder => "Port", :type => "text", :value => "4451"}/
                .form-group
                  %label{:for => "exampleInputPassword1"} Auth (optionnel)
                  %input#authInput.form-control{:name => "auth", :placeholder => "", :type => "text", :value => "AUIAUT2162-%SUITyyqsrt62YX:KSQ"}/
                -# .form-group
                  %label{:for => "exampleInputFile"} File input
                  .input-group
                    .custom-file
                      %input#exampleInputFile.custom-file-input{:type => "file"}/
                      %label.custom-file-label{:for => "exampleInputFile"} Choose file
                    .input-group-append
                      %span.input-group-text{:id => ""} Upload
                -# .form-check
                  %input#exampleCheck1.form-check-input{:type => "checkbox"}/
                  %label.form-check-label{:for => "exampleCheck1"} Check me out
              / /.card-body
              .card-footer
                %button.btn.btn-primary{"data-action" => "click->form#submit"} Submit

