!!!
/
  This is a starter template page. Use this page to start your new project from
  scratch. This page gets rid of all links and provides the needed markup only.
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %meta{:content => "ie=edge", "http-equiv" => "x-ua-compatible"}/
    %title AdminLTE 3 | Starter
    / Font Awesome Icons
    %link{:href => "fontawesome-free/css/all.min.css", :rel => "stylesheet"}/
    / Theme style
    -#%link{:href => "/css/adminlte.css", :rel => "stylesheet"}/
    %link{:rel => "stylesheet", :href => "https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css", :integrity => "sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk", :crossorigin => "anonymous"}
    %link{:href => "/css/main.css", :rel => "stylesheet"}/
    / Google Font: Source Sans Pro
    %link{:href => "https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700", :rel => "stylesheet"}/
  %body
    .container 
    -#haml :sidebar
    !=yield
    -#haml :aside
    
    / ./wrapper
    / REQUIRED SCRIPTS
    / jQuery
    -# %script{:src => "plugins/jquery/jquery.min.js"}
    / Bootstrap 4
    -#  %script{:src => "plugins/bootstrap/js/bootstrap.bundle.min.js"}
    / AdminLTE App
    -#%script{:src => "http://localhost:9000/bundle.js"}
    %script{:src => "/bundle.js"}
    %script{:src => "https://code.jquery.com/jquery-3.5.1.slim.min.js", :integrity =>"sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj", :crossorigin =>"anonymous"}
    %script{:src => "https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js", :integrity => "sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo", :crossorigin => "anonymous"}
    %script{:src => "https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js", :integrity => "sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI", :crossorigin => "anonymous"}